* {
    box-sizing: border-box;
}

body,
h1,
h2,
div,
p {
    margin: 0;
}

body {
    height: 100vh;
    padding: 35px 143px 95px;
    font-family: 'StratosSkyeng', sans-serif;
    color: #fff;
    background: linear-gradient(130deg, rgba(173, 97, 255, 1) 0%, rgba(134, 119, 255, 1) 45%, rgba(0, 193, 255, 1) 100%);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #fff;
    padding: 10px;
    text-align: left;
    font-family: 'StratosSkyeng', sans-serif;
}

th {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
}